export MOCKPASS_NRIC=S9812379B

export SHOW_LOGIN_PAGE=true
# Disable signing/encryption (Optional, by default `true`)
export SIGN_ASSERTION=true
export ENCRYPT_ASSERTION=true
export SIGN_RESPONSE=true
export RESOLVE_ARTIFACT_REQUEST_SIGNED=true

# Encrypt payloads returned by /myinfo/*/{person, person-basic},
# equivalent to MyInfo Auth Level L2 (testing and production)
export ENCRYPT_MYINFO=true
# The below secret is from the myinfo demo app [BEWARE: DON'T PUT ACTUAL SECRET HERE]
export SERVICE_PROVIDER_MYINFO_SECRET=somedemosecret

